@import "tailwindcss";

@theme {
  --font-sans: 'Plus Jakarta Sans', sans-serif;
  --color-indigo-50: #ecfdf5;
  --color-indigo-100: #d1fae5;
  --color-indigo-200: #a7f3d0;
  --color-indigo-300: #6ee7b7;
  --color-indigo-400: #34d399;
  --color-indigo-500: #10b981;
  --color-indigo-600: #059669;
  --color-indigo-700: #047857;
  --color-indigo-800: #065f46;
  --color-indigo-900: #064e3b;
  --color-indigo-950: #022c22;

  --color-violet-50: #fffbeb;
  --color-violet-100: #fef3c7;
  --color-violet-200: #fde68a;
  --color-violet-300: #fcd34d;
  --color-violet-400: #fbbf24;
  --color-violet-500: #f59e0b;
  --color-violet-600: #d97706;
  --color-violet-700: #b45309;
  --color-violet-800: #92400e;
  --color-violet-900: #78350f;
  --color-violet-950: #451a03;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900;
  }
}
